<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe Application</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.2/angular-animate.js"
        integrity="sha512-ikQJHkjSbJO2+xpZXCaYVUGUXpz+c8Ip02U8DaQDuLwADRbfkuPh6fyNUjD1zNuPjqj3j6y11iOydnYU8of1bQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <h1>
            Tic Tac Toe
        </h1>
    </nav>

    <div class="container">
        <div ng-app='myApp' ng-controller='myController'>
            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

            <div class="instrct">
                <div>
                    <form ng-show=!startGame name="myForm">
                        <div class="form-group row">
                            <div class="col-12">
                                <h3 for="img">Pick a Symbol for Player 1</h3>
                                <input type="radio" id="letter" name="letter" value="X" ng-model="letter"
                                    required="true" checked="checked" />
                                <label for="male">X</label>
                                <br />
                                <input type="radio" id="letter" name="letter" value="O" ng-model="letter"
                                    required="true" />
                                <label for="O"> O</label>
                                <br>

                                <button class="startBtn btn " ng-click="start()">Start The Game<i class="fas fa-play"
                                        style="margin-left: 7px;" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                    <h1>{{won}}</h1>
                </div>
            </div>

            <div class="game">
                <!-- ROWS -->
                <svg ng-show="row0">
                    <line x1="0" y1="48" x2="290" y2="48" />
                </svg>
                <svg ng-show="row1">
                    <line x1="0" y1="148" x2="290" y2="148" />
                </svg>
                <svg ng-show="row2">
                    <line x1="0" y1="248" x2="290" y2="248" />
                </svg>

                <!-- COLUMNS -->
                <svg ng-show="col0">
                    <line x1="45" y1="0" x2="45" y2="290" />
                </svg>
                <svg ng-show="col1">
                    <line x1="145" y1="0" x2="145" y2="290" />
                </svg>
                <svg ng-show="col2">
                    <line x1="245" y1="0" x2="245" y2="290" />
                </svg>

                <!-- DIAGONALS -->
                <svg ng-show="diag1">
                    <line x1="0" y1="0" x2="290" y2="290" />
                </svg>
                <svg ng-show="diag2">
                    <line x1="290" y1="0" x2="0" y2="290" />
                </svg>

                <!-- Game Board -->
                <table ng-show="startGame" ng-class="[lineThrough]">
                    <tbody>

                        <tr>
                            <td ng-click='nextPlay(0,0)'>{{board[0][0]}}</td>
                            <td ng-click='nextPlay(0,1)'>{{board[0][1]}}</td>
                            <td ng-click='nextPlay(0,2)'>{{board[0][2]}}</td>
                        </tr>
                        <tr>
                            <td ng-click='nextPlay(1,0)'>{{board[1][0]}}</td>
                            <td ng-click='nextPlay(1,1)'>{{board[1][1]}}</td>
                            <td ng-click='nextPlay(1,2)'>{{board[1][2]}}</td>
                        </tr>
                        <tr>
                            <td ng-click='nextPlay(2,0)'>{{board[2][0]}}</td>
                            <td ng-click='nextPlay(2,1)'>{{board[2][1]}}</td>
                            <td ng-click='nextPlay(2,2)'>{{board[2][2]}}</td>
                        </tr>

                    </tbody>
                </table>
                <br>

            </div>

            <!-- Restart button -->
            <div ng-show="startGame" class="resetBtn">
                <button class="restart btn " ng-click='restart()'>
                    Restart
                    <i class="fas fa-refresh" style="margin-left: 5px;" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>